
<div class="block1">
<h1>Active Network Requests</h1>
<h3>The following devices are requesting network access to the listed device.</h3>
<table border=1>
  <tr>
    <th>ID</th>
    <th>Client IP Address</th>
    <th>Requested Device IP Address</th>
  <th>Accept</th><th>Deny</th>
</tr>
{% for req in active_requests %}
<tr>
    <td>{{ req['id'] }}</td>
    <td>{{ req['src'] }}</td>
    <td>{{ req['dest'] }}</td>
    <td><a href="/accept/{{req['id']}}"><button type=button>Accept</button></a></td>
    <td><a href="/deny/{{req['id']}}"><button type=button>Deny</button></a></td>
</tr>
{% endfor %}


<br>
<!-- <img src="http://www.naturalprogramming.com/images/smilingpython.gif"> -->

</div>
